.blue {
  background-color: #305DB8;
  width: 160px;
}
.blue::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../images/facebook.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.blue:hover {
  background-color: #022263;
}

.red {
  background-color: #DF4A32;
  width: 160px;
}
.red::before {
  content: "";
  width: 30px;
  height: 19px;
  background-image: url(../../images/google+.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.red:hover {
  background-color: #AB1F09;
}

button.green {
  background-color: #3CB878;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
button.green:hover {
  background-color: #01813F;
}

body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 11px 17px;
}

.form {
  position: absolute;
  width: 444px;
  height: 584px;
  top: calc(50vh + 29px);
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.line-or {
  position: relative;
  color: #848484;
  text-align: center;
  line-height: 1;
  padding-bottom: 11px;
  display: block;
}
.line-or::before {
  position: absolute;
  content: "";
  width: 152px;
  height: 0px;
  border-top: 1px solid #F2F2F2;
  left: 0;
  top: 7px;
}
.line-or::after {
  position: absolute;
  content: "";
  width: 152px;
  height: 0px;
  border-top: 1px solid #F2F2F2;
  right: 0;
  top: 7px;
}

.form__log-in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.form__log-in p {
  color: #434343;
  font-size: 20px;
  line-height: 1;
}
.form__log-in a {
  color: #3CB878;
}
.form__log-in a:hover {
  text-decoration: underline;
}
.form__log-in::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3CB878;
  left: -60px;
}

.form__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  width: 100%;
  padding-bottom: 31px;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.input-group input {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  padding: 15px 0 15px 19px;
  line-height: 1;
}
.input-group input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.input-group input::-moz-placeholder {
  color: #BEBEBE;
}
.input-group input:-ms-input-placeholder {
  color: #BEBEBE;
}
.input-group input::-ms-input-placeholder {
  color: #BEBEBE;
}
.input-group input::placeholder {
  color: #BEBEBE;
}
.input-group input:focus {
  outline: none;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input-group__agree-link {
  color: #3CB878;
}

.input-group__agree {
  position: relative;
  background-color: aqua;
}

.form [type=checkbox] {
  padding: 0;
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.0001);
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: none;
  border: 0;
  outline: 0;
  background-color: #FFFFFF;
  cursor: pointer;
}

.form [type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  background-color: transparent;
  background-size: contain;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #F2F2F2;
  margin-right: 8px;
}

[type=checkbox]:checked {
  background-color: currentcolor;
  -webkit-box-shadow: none;
          box-shadow: none;
}

[type=checkbox]:checked::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: url(../../images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.input-group__agree-link:hover {
  text-decoration: underline;
}


.wrapper-form {
  margin: 31px auto 38px;
  width: 324px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 58px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding-right: 79px;
  padding-left: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 79px;
}
.logo:hover {
  color: #3cb878;
}

.sign__in:hover,
.sign__up:hover {
  color: #3cb878;
}

.main-nav {
  margin-left: auto;
  margin-right: 25px;
}

.main-nav__list {
  gap: 27px;
}
.main-nav__list svg {
  fill: white;
}
.main-nav__list svg:hover {
  fill: #3cb878;
}

html {
  background: url(../../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}